<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
    </head>
    <body>
    <div>
        <h5><a href="/todos" class="">List</a></h5>
        <h5><a href="/todos/new" class="">New</a></h5>
    </div>
    <%= yield %>
    </body>
</html>