<form action="/todos/new" method="post" role="form">
  <div class="form-group">
    <label for="textInput">Todo</label>
    <textarea name="text" class="form-control" id="textInput" placeholder="Todo ..."></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input name="status" type="checkbox"> Status
    </label>
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>